# API Experimentation with International Space Station Data

In [2]:
import requests
response = requests.get("http://api.open-notify.org/iss-now.json")

In [5]:
status_code = response.status_code
print(status_code)

200

Status Code *200* means that all ran smoothly

In [6]:
# Set up the parameters we want to pass to the API.
# This is the latitude and longitude of New York City.
parameters = {"lat": 40.71, "lon": -74}

# Make a get request with the parameters.
response = requests.get("http://api.open-notify.org/iss-pass.json", params=parameters)

# Print the content of the response (the data the server returned)
print(response.content)

# This gets the same data as the command above
response = requests.get("http://api.open-notify.org/iss-pass.json?lat=40.71&lon=-74")
print(response.content)

b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1523840685, \n    "latitude": 40.71, \n    "longitude": -74.0, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 561, \n      "risetime": 1523889000\n    }, \n    {\n      "duration": 638, \n      "risetime": 1523894731\n    }, \n    {\n      "duration": 573, \n      "risetime": 1523900585\n    }, \n    {\n      "duration": 551, \n      "risetime": 1523906446\n    }, \n    {\n      "duration": 619, \n      "risetime": 1523912248\n    }\n  ]\n}\n'
b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1523840685, \n    "latitude": 40.71, \n    "longitude": -74.0, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 561, \n      "risetime": 1523889000\n    }, \n    {\n      "duration": 638, \n      "risetime": 1523894731\n    }, \n    {\n      "duration": 573, \n      "risetime": 1523900585\n    }, \n    {\n      "duration": 551, \n      "risetime": 1523906446\n    }, \n    {\n      "duration": 619, \n      "risetime": 1523912248\n    }\n  ]\n}\n'

## Checking out JSON Data for next SF Flyover

In [22]:
parameters = {"lat": 37.78, "lon": -122.41}

response = requests.get("http://api.open-notify.org/iss-pass.json",
                        params=parameters)
content = response.content

In [23]:
print(content)

b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1523842385, \n    "latitude": 37.78, \n    "longitude": -122.41, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 615, \n      "risetime": 1523845907\n    }, \n    {\n      "duration": 579, \n      "risetime": 1523900055\n    }, \n    {\n      "duration": 629, \n      "risetime": 1523905806\n    }, \n    {\n      "duration": 522, \n      "risetime": 1523911691\n    }, \n    {\n      "duration": 477, \n      "risetime": 1523917581\n    }\n  ]\n}\n'

Above Data is in Python string that needs to be converted to JSON format

In [12]:
import json
json.loads(content)

{'message': 'success',
 'request': {'altitude': 100,
  'datetime': 1523842385,
  'latitude': 37.78,
  'longitude': -122.41,
  'passes': 5},
 'response': [{'duration': 615, 'risetime': 1523845907},
  {'duration': 579, 'risetime': 1523900055},
  {'duration': 629, 'risetime': 1523905806},
  {'duration': 522, 'risetime': 1523911691},
  {'duration': 477, 'risetime': 1523917581}]}

**Above** is using the json *library* <br>
vs. <br>
**Below** using the json *method* for the data

In [13]:
json_data = response.json()
print(json_data)

{'message': 'success', 'request': {'altitude': 100, 'datetime': 1523842385, 'latitude': 37.78, 'longitude': -122.41, 'passes': 5}, 'response': [{'duration': 615, 'risetime': 1523845907}, {'duration': 579, 'risetime': 1523900055}, {'duration': 629, 'risetime': 1523905806}, {'duration': 522, 'risetime': 1523911691}, {'duration': 477, 'risetime': 1523917581}]}

Duration of first flyover coming up:

In [16]:
json_data['response'][0]['duration']

615

In [17]:
response.headers

{'Server': 'nginx/1.10.3', 'Date': 'Mon, 16 Apr 2018 01:33:05 GMT', 'Content-Type': 'application/json', 'Content-Length': '521', 'Connection': 'keep-alive', 'Via': '1.1 vegur'}

In [18]:
response.headers['Content-type']

'application/json'

## How many astronauts are currently in space?

In [21]:
response = requests.get('http://api.open-notify.org/astros.json')
print(response.json())

json_data = response.json()

in_space_count = json_data['number']
print(in_space_count)

{'people': [{'name': 'Anton Shkaplerov', 'craft': 'ISS'}, {'name': 'Scott Tingle', 'craft': 'ISS'}, {'name': 'Norishige Kanai', 'craft': 'ISS'}, {'name': 'Oleg Artemyev', 'craft': 'ISS'}, {'name': 'Andrew Feustel', 'craft': 'ISS'}, {'name': 'Richard Arnold', 'craft': 'ISS'}], 'number': 6, 'message': 'success'}
6

Based on the above information, there are currently 6 astronauts in space, and they are all on the International Space Station