In [1]:
import pandas as pd
import numpy as np

fandango = pd.read_csv("fandango_score_comparison.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [3]:
series_film = fandango['FILM']
print(series_film.head())

series_rt = fandango['RottenTomatoes']
print(series_rt.head())

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [5]:
film_names = series_film.values
rt_scores = series_rt.values

In [9]:
from pandas import Series
series_custom = Series(data = rt_scores, index = film_names)

Slicing:
1. Use series[[a,b,c]] to get three specific values
2. Use series[a:c] to get a range *REMEMBER that the final value is NOT included when slicing*

In [14]:
fiveten = series_custom[5:11]
fiveten

The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

In [21]:
sorted_series = series_custom.reindex(sorted(series_custom.index))

sorted_by_title = series_custom.sort_index()
sorted_by_score = series_custom.sort_values()

## Subsetting Example

In [25]:
sorted_series[sorted_series > 75]

'71 (2015)                                          97
A Most Violent Year (2014)                          90
About Elly (2015)                                   97
Amy (2015)                                          97
Ant-Man (2015)                                      80
Birdman (2014)                                      92
Black Sea (2015)                                    82
Cinderella (2015)                                   85
Clouds of Sils Maria (2015)                         89
Danny Collins (2015)                                77
Dope (2015)                                         87
Ex Machina (2015)                                   92
Far From The Madding Crowd (2015)                   84
Furious 7 (2015)                                    81
Gett: The Trial of Viviane Amsalem (2015)          100
I'll See You In My Dreams (2015)                    94
Infinitely Polar Bear (2015)                        80
Inside Out (2015)                                   98
It Follows (2015)                                   96
Kumiko, The Treasure Hunter (2015)                  87
Leviathan (2014)                                    99
Love & Mercy (2015)                                 89
Mad Max: Fury Road (2015)                           97
McFarland, USA (2015)                               79
Me and Earl and The Dying Girl (2015)               81
Mission: Impossible â€“ Rogue Nation (2015)         92
Monkey Kingdom (2015)                               94
Mr. Holmes (2015)                                   87
Mr. Turner (2014)                                   98
Paddington (2015)                                   98
Phoenix (2015)                                      99
Red Army (2015)                                     96
Selma (2014)                                        99
Seymour: An Introduction (2015)                    100
Shaun the Sheep Movie (2015)                        99
Song of the Sea (2014)                              99
Spy (2015)                                          93
Still Alice (2015)                                  88
Straight Outta Compton (2015)                       90
Tangerine (2015)                                    95
Testament of Youth (2015)                           81
The Diary of a Teenage Girl (2015)                  95
The End of the Tour (2015)                          92
The Gift (2015)                                     93
The Hunting Ground (2015)                           92
The Imitation Game (2014)                           90
The Overnight (2015)                                82
The Salt of the Earth (2015)                        96
The SpongeBob Movie: Sponge Out of Water (2015)     78
The Stanford Prison Experiment (2015)               84
The Wolfpack (2015)                                 84
The Wrecking Crew (2015)                            93
Timbuktu (2015)                                     99
Top Five (2014)                                     86
Trainwreck (2015)                                   85
Two Days, One Night (2014)                          97
What We Do in the Shadows (2015)                    96
When Marnie Was There (2015)                        89
While We're Young (2015)                            83
Wild Tales (2014)                                   96
dtype: int64

In [28]:
%%timeit
sorted_by_score/10

107 µs ± 880 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [31]:
%%timeit
for i in range(len(sorted_by_score)):
    sorted_by_score[i]/10

2.63 ms ± 3.72 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Using vectorization for math values in Series greatly reduces processing time. In this example above, vectorization speeds the process up by 25x

In [35]:
rt_critics = Series(fandango['RottenTomatoes'].values, index = fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index = fandango['FILM'])

In [36]:
rt_mean = (rt_critics + rt_users)/2