In [4]:
import pandas as pd
file = 'nba_2013.csv'
nba_data = pd.read_csv(file)
nba_data.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

## Statistics About Points

Mean and Variance <br>
$\mu = \frac{\Sigma x}{n}$ <br>
$\sigma^2 = \frac{\Sigma \left(x-\mu\right)^2}{n}$

In [6]:
pts = nba_data['pts']
pts_mean = pts.mean()

#x-mu
differences = pts - pts_mean

#(x-mu)^2
squared_differences = differences ** 2

n = len(squared_differences)

variance = sum(squared_differences)/n

print(variance)

220836.99585496247

### Standard Deviation as a Function

Standard Deviation($\sigma$) can be found as the square root of Variance

In [7]:
def nba_sd(column):
    mean = nba_data[column].mean()
    differences = nba_data[column] - mean
    square_differences = differences ** 2
    variance = sum(square_differences)/ len(square_differences)
    return variance ** (1/2)

In [8]:
mp_dev = nba_sd('mp')
print(mp_dev)
ast_dev = nba_sd('ast')
print(ast_dev)

896.3256527798793
130.88329070778343