# Joins Using the CIA Factbook

The purpose of this notebook is to continue using the CIA Factbook to expand SQL skills. Specifically using Joins

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

## Inner Joins

In [2]:
%%sql
SELECT *
FROM facts
INNER JOIN cities ON cities.facts_id = facts.id
LIMIT 10;

* sqlite:///factbook.db
Done.

[(216, 'aa', 'Aruba', 180, 180, 0, 112162, 1.33, 12.56, 8.18, 8.92, 1, 'Oranjestad', 37000, 1, '216'),
 (6, 'ac', 'Antigua and Barbuda', 442, 442, 0, 92436, 1.24, 15.85, 5.69, 2.21, 2, "Saint John'S", 27000, 1, '6'),
 (184, 'ae', 'United Arab Emirates', 83600, 83600, 0, 5779760, 2.58, 15.43, 1.97, 12.36, 3, 'Abu Dhabi', 942000, 1, '184'),
 (184, 'ae', 'United Arab Emirates', 83600, 83600, 0, 5779760, 2.58, 15.43, 1.97, 12.36, 4, 'Dubai', 1978000, 0, '184'),
 (184, 'ae', 'United Arab Emirates', 83600, 83600, 0, 5779760, 2.58, 15.43, 1.97, 12.36, 5, 'Sharjah', 983000, 0, '184'),
 (1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51, 6, 'Kabul', 3097000, 1, '1'),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, 7, 'Algiers', 2916000, 1, '3'),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, 8, 'Oran', 783000, 0, '3'),
 (11, 'aj', 'Azerbaijan', 86600, 82629, 3971, 9780780, 0.96, 16.64, 7.07, 0.0, 9, 'Baku', 2123000, 1, '11'),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3, 10, 'Tirana', 419000, 1, '2')]

The above gives us the first 10 rows with columns that are the same in both tables.

In [3]:
%%sql
SELECT c.*, f.name AS country_name 
FROM facts f
INNER JOIN cities c ON c.facts_id = f.id
LIMIT 5;

* sqlite:///factbook.db
Done.

[(1, 'Oranjestad', 37000, 1, '216', 'Aruba'),
 (2, "Saint John'S", 27000, 1, '6', 'Antigua and Barbuda'),
 (3, 'Abu Dhabi', 942000, 1, '184', 'United Arab Emirates'),
 (4, 'Dubai', 1978000, 0, '184', 'United Arab Emirates'),
 (5, 'Sharjah', 983000, 0, '184', 'United Arab Emirates')]

For the next query, I will combine the two tables and return capital cities for each country.

In [4]:
%%sql
SELECT f.name AS country, c.name AS capital_city
FROM facts f
INNER JOIN cities c ON c.facts_id = f.id
WHERE c.capital = 1;

* sqlite:///factbook.db
Done.

[('Aruba', 'Oranjestad'),
 ('Antigua and Barbuda', "Saint John'S"),
 ('United Arab Emirates', 'Abu Dhabi'),
 ('Afghanistan', 'Kabul'),
 ('Algeria', 'Algiers'),
 ('Azerbaijan', 'Baku'),
 ('Albania', 'Tirana'),
 ('Armenia', 'Yerevan'),
 ('Andorra', 'Andorra La Vella'),
 ('Angola', 'Luanda'),
 ('American Samoa', 'Pago Pago'),
 ('Argentina', 'Buenos Aires'),
 ('Australia', 'Canberra'),
 ('Austria', 'Vienna'),
 ('Anguilla', 'The Valley'),
 ('Bahrain', 'Manama'),
 ('Barbados', 'Bridgetown'),
 ('Botswana', 'Gaborone'),
 ('Bermuda', 'Hamilton'),
 ('Belgium', 'Brussels'),
 ('Bahamas, The', 'Nassau'),
 ('Bangladesh', 'Dhaka'),
 ('Belize', 'Belmopan'),
 ('Bosnia and Herzegovina', 'Sarajevo'),
 ('Bolivia', 'La Paz'),
 ('Burma', 'Rangoon'),
 ('Benin', 'Porto-Novo'),
 ('Belarus', 'Minsk'),
 ('Solomon Islands', 'Honiara'),
 ('Brazil', 'Brasilia'),
 ('Bhutan', 'Thimphu'),
 ('Bulgaria', 'Sofia'),
 ('Brunei', 'Bandar Seri Begawan'),
 ('Burundi', 'Bujumbura'),
 ('Canada', 'Ottawa'),
 ('Cambodia', 'Phnom Penh'),
 ('Chad', "N'Djamena"),
 ('Sri Lanka', 'Colombo'),
 ('Congo, Republic of the', 'Brazzaville'),
 ('Congo, Democratic Republic of the', 'Kinshasa'),
 ('China', 'Beijing'),
 ('Chile', 'Santiago'),
 ('Cayman Islands', 'George Town'),
 ('Cameroon', 'Yaounde'),
 ('Comoros', 'Moroni'),
 ('Colombia', 'Bogota'),
 ('Northern Mariana Islands', 'Saipan'),
 ('Costa Rica', 'San Jose'),
 ('Central African Republic', 'Bangui'),
 ('Cuba', 'Havana'),
 ('Cabo Verde', 'Praia'),
 ('Cyprus', 'Nicosia'),
 ('Denmark', 'Copenhagen'),
 ('Djibouti', 'Djibouti'),
 ('Dominica', 'Roseau'),
 ('Dominican Republic', 'Santo Domingo'),
 ('Ecuador', 'Quito'),
 ('Egypt', 'Cairo'),
 ('Ireland', 'Dublin'),
 ('Equatorial Guinea', 'Malabo'),
 ('Estonia', 'Tallinn'),
 ('Eritrea', 'Asmara'),
 ('El Salvador', 'San Salvador'),
 ('Ethiopia', 'Addis Ababa'),
 ('Czech Republic', 'Prague'),
 ('Finland', 'Helsinki'),
 ('Fiji', 'Suva'),
 ('Falkland Islands (Islas Malvinas)', 'Stanley'),
 ('Micronesia, Federated States of', 'Palikir'),
 ('Faroe Islands', 'Torshavn'),
 ('French Polynesia', 'Papeete'),
 ('France', 'Paris'),
 ('Gambia, The', 'Banjul'),
 ('Gabon', 'Libreville'),
 ('Georgia', 'Tbilisi'),
 ('Ghana', 'Accra'),
 ('Grenada', "Saint George'S"),
 ('Greenland', 'Nuuk'),
 ('Germany', 'Berlin'),
 ('Guam', 'Hagatna'),
 ('Greece', 'Athens'),
 ('Guatemala', 'Guatemala City'),
 ('Guinea', 'Conakry'),
 ('Guyana', 'Georgetown'),
 ('Haiti', 'Port-Au-Prince'),
 ('Honduras', 'Tegucigalpa'),
 ('Croatia', 'Zagreb'),
 ('Hungary', 'Budapest'),
 ('Iceland', 'Reykjavik'),
 ('Indonesia', 'Jakarta'),
 ('Isle of Man', 'Douglas'),
 ('India', 'New Delhi'),
 ('Iran', 'Tehran'),
 ('Israel', 'Jerusalem'),
 ('Italy', 'Rome'),
 ("Cote d'Ivoire", 'Yamoussoukro'),
 ('Iraq', 'Baghdad'),
 ('Japan', 'Tokyo'),
 ('Jamaica', 'Kingston'),
 ('Jordan', 'Amman'),
 ('Kenya', 'Nairobi'),
 ('Kyrgyzstan', 'Bishkek'),
 ('Korea, North', 'Pyongyang'),
 ('Kiribati', 'Tarawa'),
 ('Korea, South', 'Seoul'),
 ('Kuwait', 'Kuwait'),
 ('Kazakhstan', 'Astana'),
 ('Laos', 'Vientiane'),
 ('Lebanon', 'Beirut'),
 ('Latvia', 'Riga'),
 ('Lithuania', 'Vilnius'),
 ('Liberia', 'Monrovia'),
 ('Slovakia', 'Bratislava'),
 ('Liechtenstein', 'Vaduz'),
 ('Lesotho', 'Maseru'),
 ('Luxembourg', 'Luxembourg'),
 ('Libya', 'Tripoli'),
 ('Madagascar', 'Antananarivo'),
 ('Moldova', 'Chisinau'),
 ('Mongolia', 'Ulaanbaatar'),
 ('Malawi', 'Lilongwe'),
 ('Montenegro', 'Podgorica'),
 ('Macedonia', 'Skopje'),
 ('Mali', 'Bamako'),
 ('Morocco', 'Rabat'),
 ('Mauritius', 'Port Louis'),
 ('Mauritania', 'Nouakchott'),
 ('Malta', 'Valletta'),
 ('Oman', 'Muscat'),
 ('Maldives', 'Male'),
 ('Mexico', 'Mexico City'),
 ('Malaysia', 'Kuala Lumpur'),
 ('Mozambique', 'Maputo'),
 ('New Caledonia', 'Noumea'),
 ('Niger', 'Niamey'),
 ('Vanuatu', 'Port-Vila'),
 ('Nigeria', 'Abuja'),
 ('Netherlands', 'Amsterdam'),
 ('Norway', 'Oslo'),
 ('Nepal', 'Kathmandu'),
 ('Suriname', 'Paramaribo'),
 ('Nicaragua', 'Managua'),
 ('New Zealand', 'Wellington'),
 ('South Sudan', 'Juba'),
 ('Paraguay', 'Asuncion'),
 ('Peru', 'Lima'),
 ('Pakistan', 'Islamabad'),
 ('Poland', 'Warsaw'),
 ('Panama', 'Panama City'),
 ('Portugal', 'Lisbon'),
 ('Papua New Guinea', 'Port Moresby'),
 ('Palau', 'Melekeok'),
 ('Guinea-Bissau', 'Bissau'),
 ('Qatar', 'Doha'),
 ('Serbia', 'Belgrade'),
 ('Marshall Islands', 'Majuro'),
 ('Romania', 'Bucharest'),
 ('Philippines', 'Manila'),
 ('Puerto Rico', 'San Juan'),
 ('Russia', 'Moscow'),
 ('Rwanda', 'Kigali'),
 ('Saudi Arabia', 'Riyadh'),
 ('Saint Pierre and Miquelon', 'Saint-Pierre'),
 ('Saint Kitts and Nevis', 'Basseterre'),
 ('Seychelles', 'Victoria'),
 ('South Africa', 'Pretoria'),
 ('Senegal', 'Dakar'),
 ('Saint Helena, Ascension, and Tristan da Cunha', 'Jamestown'),
 ('Slovenia', 'Ljubljana'),
 ('Sierra Leone', 'Freetown'),
 ('Somalia', 'Mogadishu'),
 ('Spain', 'Madrid'),
 ('Saint Lucia', 'Castries'),
 ('Sudan', 'Khartoum'),
 ('Sweden', 'Stockholm'),
 ('Syria', 'Damascus'),
 ('Switzerland', 'Bern'),
 ('Trinidad and Tobago', 'Port-Of-Spain'),
 ('Thailand', 'Bangkok'),
 ('Tajikistan', 'Dushanbe'),
 ('Turks and Caicos Islands', 'Grand Turk'),
 ('Togo', 'Lome'),
 ('Sao Tome and Principe', 'Sao Tome'),
 ('Tunisia', 'Tunis'),
 ('Timor-Leste', 'Dili'),
 ('Turkey', 'Ankara'),
 ('Tuvalu', 'Funafuti'),
 ('Turkmenistan', 'Ashgabat'),
 ('Tanzania', 'Dar Es Salaam'),
 ('Uganda', 'Kampala'),
 ('United Kingdom', 'London'),
 ('Ukraine', 'Kyiv'),
 ('United States', 'Washington, D.C.'),
 ('Burkina Faso', 'Ouagadougou'),
 ('Uruguay', 'Montevideo'),
 ('Uzbekistan', 'Tashkent'),
 ('Saint Vincent and the Grenadines', 'Kingstown'),
 ('Venezuela', 'Caracas'),
 ('British Virgin Islands', 'Road Town'),
 ('Vietnam', 'Hanoi'),
 ('Virgin Islands', 'Charlotte Amalie'),
 ('Namibia', 'Windhoek'),
 ('Wallis and Futuna', 'Mata-Utu'),
 ('Samoa', 'Apia'),
 ('Swaziland', 'Mbabane'),
 ('Yemen', 'Sanaa'),
 ('Zambia', 'Lusaka'),
 ('Zimbabwe', 'Harare')]

## Left Joins

The first query using left joins will select countries that do not have any city information.

In [5]:
%%sql
SELECT f.name AS country, f.population
FROM facts f
LEFT JOIN cities c ON c.facts_id = f.id
WHERE c.facts_id IS NULL;

* sqlite:///factbook.db
Done.

[('Kosovo', 1870981),
 ('Monaco', 30535),
 ('Nauru', 9540),
 ('San Marino', 33020),
 ('Singapore', 5674472),
 ('Holy See (Vatican City)', 842),
 ('Taiwan', 23415126),
 ('European Union', 513949445),
 ('Ashmore and Cartier Islands', None),
 ('Christmas Island', 1530),
 ('Cocos (Keeling) Islands', 596),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Norfolk Island', 2210),
 ('Hong Kong', 7141106),
 ('Macau', 592731),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', 7237),
 ('Saint Martin', 31754),
 ('Curacao', 148406),
 ('Sint Maarten', 39689),
 ('Cook Islands', 9838),
 ('Niue', 1190),
 ('Tokelau', 1337),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Svalbard', 1872),
 ('Akrotiri', 15700),
 ('British Indian Ocean Territory', None),
 ('Dhekelia', 15700),
 ('Gibraltar', 29258),
 ('Guernsey', 66080),
 ('Jersey', 97294),
 ('Montserrat', 5241),
 ('Pitcairn Islands', 48),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', 0),
 ('Gaza Strip', 1869055),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('West Bank', 2785366),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', 7256490011)]

An interesting thing to note is that the oceans are included in this data. The fact that their population values are None, so they didn't come up earlier when I was looking at min and max population values.

## Other Joins

Types of Joins:
1. INNER JOIN
2. LEFT JOIN
3. RIGHT JOIN
4. FULL OUTER JOIN

In [6]:
%%sql
SELECT c.name capital_city, f.name country, c.population population
FROM facts f
INNER JOIN cities c ON c.facts_id = f.id
WHERE c.capital = 1
ORDER BY population DESC
LIMIT 10;

* sqlite:///factbook.db
Done.

[('Tokyo', 'Japan', 37217000),
 ('New Delhi', 'India', 22654000),
 ('Mexico City', 'Mexico', 20446000),
 ('Beijing', 'China', 15594000),
 ('Dhaka', 'Bangladesh', 15391000),
 ('Buenos Aires', 'Argentina', 13528000),
 ('Manila', 'Philippines', 11862000),
 ('Moscow', 'Russia', 11621000),
 ('Cairo', 'Egypt', 11169000),
 ('Jakarta', 'Indonesia', 9769000)]

Now for a join using a subquery... This may be a little difficult.

Goal:
capital_city, country, population

capital cities with pop > 10 Million ordered from largest to smallest

In [7]:
%%sql
SELECT c.name capital_city, f.name country, c.population population
FROM facts f
INNER JOIN (SELECT * FROM cities
           WHERE capital = 1 AND population > 10000000) c
ON c.facts_id = f.id
ORDER BY population DESC;

* sqlite:///factbook.db
Done.

[('Tokyo', 'Japan', 37217000),
 ('New Delhi', 'India', 22654000),
 ('Mexico City', 'Mexico', 20446000),
 ('Beijing', 'China', 15594000),
 ('Dhaka', 'Bangladesh', 15391000),
 ('Buenos Aires', 'Argentina', 13528000),
 ('Manila', 'Philippines', 11862000),
 ('Moscow', 'Russia', 11621000),
 ('Cairo', 'Egypt', 11169000)]

The following appears to be a complex query:

The query should include:

The following columns, in order:

1. country, the name of the country.
2. urban_pop, the sum of the population in major urban areas belonging to that country.
3. total_pop, the total population of the country.
4. urban_pct, the percentage of the popularion within urban areas, calculated by dividing urban_pop by total_pop.
5. Only countries that have an urban_pct greater than 0.5.
6.  Rows should be sorted by urban_pct in ascending order.

<img src="schema.svg" width = 1000px>

In [21]:
%%sql
SELECT f.name country, c.population AS urban_pop, f.population total_pop, CAST(c.population AS FLOAT) / f.population AS urban_pct 
FROM facts f
INNER JOIN (SELECT facts_id, SUM(population) AS population
            FROM cities
            GROUP BY facts_id) c
ON c.facts_id = f.id
WHERE urban_pct > 0.5
ORDER BY urban_pct;

* sqlite:///factbook.db
Done.

[('Uruguay', 1672000, 3341893, 0.5003152404939356),
 ('Congo, Republic of the', 2445000, 4755097, 0.5141850944365594),
 ('Brunei', 241000, 429646, 0.5609269026128487),
 ('New Caledonia', 157000, 271615, 0.5780240413821034),
 ('Virgin Islands', 60000, 103574, 0.5792959623071428),
 ('Falkland Islands (Islas Malvinas)', 2000, 3361, 0.5950609937518596),
 ('Djibouti', 496000, 828324, 0.5987995035758954),
 ('Australia', 13789000, 22751014, 0.6060828761302683),
 ('Iceland', 206000, 331918, 0.6206352171319423),
 ('Israel', 5226000, 8049314, 0.6492478737939655),
 ('United Arab Emirates', 3903000, 5779760, 0.6752875551926032),
 ('Puerto Rico', 2475000, 3598357, 0.6878139106264332),
 ('Bahamas, The', 254000, 324597, 0.7825087724162577),
 ('Kuwait', 2406000, 2788534, 0.8628189579183901),
 ('Saint Pierre and Miquelon', 5000, 5657, 0.8838607035531201),
 ('Guam', 169000, 161785, 1.0445962233828847),
 ('Northern Mariana Islands', 56000, 52344, 1.0698456365581537),
 ('American Samoa', 64000, 54343, 1.1777045801667188)]

In [11]:
%%sql 
SELECT facts_id, SUM(population) population
            FROM cities
            GROUP BY facts_id;

* sqlite:///factbook.db
Done.

[('1', 3097000),
 ('10', 172000),
 ('100', 1127000),
 ('101', 5000),
 ('102', 546000),
 ('103', 94000),
 ('104', 499000),
 ('105', 1987000),
 ('106', 772000),
 ('107', 2720000),
 ('108', 132000),
 ('109', 2037000),
 ('11', 2123000),
 ('110', 198000),
 ('111', 31000),
 ('112', 786000),
 ('113', 151000),
 ('114', 33449000),
 ('115', 7000),
 ('116', 677000),
 ('118', 1184000),
 ('119', 156000),
 ('12', 254000),
 ('120', 8531000),
 ('121', 905000),
 ('122', 380000),
 ('124', 1015000),
 ('125', 2705000),
 ('126', 1862000),
 ('127', 970000),
 ('128', 1297000),
 ('129', 23118000),
 ('13', 262000),
 ('130', 915000),
 ('131', 743000),
 ('132', 29338000),
 ('133', 1000),
 ('134', 1426000),
 ('135', 343000),
 ('136', 2139000),
 ('137', 1717000),
 ('138', 15166000),
 ('139', 2479000),
 ('14', 23343000),
 ('140', 4210000),
 ('141', 567000),
 ('142', 1937000),
 ('143', 21731000),
 ('144', 1004000),
 ('145', 12000),
 ('146', 21000),
 ('147', 31000),
 ('148', 37000),
 ('15', 122000),
 ('150', 64000),
 ('151', 12703000),
 ('152', 3035000),
 ('153', 1135000),
 ('154', 27000),
 ('155', 941000),
 ('157', 434000),
 ('158', 273000),
 ('159', 68000),
 ('16', 1861000),
 ('160', 1554000),
 ('161', 15756000),
 ('162', 269000),
 ('163', 7928000),
 ('164', 819000),
 ('165', 4632000),
 ('166', 278000),
 ('167', 66000),
 ('168', 1385000),
 ('169', 1547000),
 ('17', 2908000),
 ('170', 5731000),
 ('171', 739000),
 ('172', 3588000),
 ('173', 9638000),
 ('174', 180000),
 ('175', 1524000),
 ('176', 25000),
 ('177', 66000),
 ('178', 790000),
 ('179', 22753000),
 ('18', 14000),
 ('180', 683000),
 ('181', 5000),
 ('182', 1659000),
 ('183', 7105000),
 ('184', 3903000),
 ('185', 17126000),
 ('186', 60116000),
 ('187', 1672000),
 ('188', 2227000),
 ('189', 47000),
 ('19', 1238000),
 ('191', 8498000),
 ('192', 11119000),
 ('193', 3203000),
 ('194', 1802000),
 ('195', 1542000),
 ('2', 419000),
 ('20', 99000),
 ('206', 20000),
 ('207', 16000),
 ('209', 137000),
 ('21', 3741000),
 ('211', 157000),
 ('214', 5000),
 ('215', 1000),
 ('216', 37000),
 ('22', 389000),
 ('226', 2000),
 ('227', 11000),
 ('229', 10000),
 ('23', 202000),
 ('230', 28000),
 ('232', 2000),
 ('236', 27000),
 ('239', 1000),
 ('24', 38086000),
 ('241', 7000),
 ('242', 64000),
 ('243', 169000),
 ('245', 56000),
 ('246', 2475000),
 ('247', 60000),
 ('25', 241000),
 ('255', 237000),
 ('26', 1174000),
 ('27', 2053000),
 ('28', 5626000),
 ('29', 605000),
 ('3', 3699000),
 ('30', 155000),
 ('31', 4881000),
 ('32', 15262000),
 ('33', 132000),
 ('34', 740000),
 ('35', 1079000),
 ('36', 7687000),
 ('37', 66849000),
 ('38', 16009000),
 ('39', 54000),
 ('4', 23000),
 ('40', 13566000),
 ('41', 2445000),
 ('42', 1515000),
 ('43', 5254000),
 ('44', 686000),
 ('45', 2116000),
 ('46', 253000),
 ('47', 1276000),
 ('48', 1206000),
 ('49', 496000),
 ('5', 6166000),
 ('50', 14000),
 ('51', 2191000),
 ('52', 3909000),
 ('53', 15663000),
 ('54', 1605000),
 ('55', 137000),
 ('56', 712000),
 ('57', 400000),
 ('58', 2979000),
 ('59', 177000),
 ('6', 27000),
 ('60', 1134000),
 ('61', 20406100),
 ('62', 686000),
 ('63', 506000),
 ('64', 1121000),
 ('65', 7628000),
 ('66', 4592000),
 ('67', 4297000),
 ('68', 41000),
 ('69', 1168000),
 ('7', 18951000),
 ('70', 1786000),
 ('71', 423000),
 ('72', 127000),
 ('73', 2207000),
 ('74', 1088000),
 ('75', 1737000),
 ('76', 206000),
 ('77', 82035000),
 ('78', 20131000),
 ('79', 16263000),
 ('8', 1116000),
 ('80', 11157000),
 ('81', 1121000),
 ('82', 5226000),
 ('83', 11892000),
 ('84', 571000),
 ('85', 60077000),
 ('86', 1179000),
 ('87', 2090000),
 ('88', 4335000),
 ('89', 44000),
 ('9', 13789000),
 ('90', 2843000),
 ('91', 21218000),
 ('93', 2406000),
 ('94', 839000),
 ('95', 810000),
 ('96', 701000),
 ('97', 2022000),
 ('98', 239000),
 ('99', 750000)]