In [1]:
import pandas as pd
import numpy as np

fandango = pd.read_csv("fandango_score_comparison.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [2]:
series_film = fandango['FILM']
print(series_film.head())

series_rt = fandango['RottenTomatoes']
print(series_rt.head())

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [3]:
film_names = series_film.values
rt_scores = series_rt.values

In [4]:
from pandas import Series
series_custom = Series(data = rt_scores, index = film_names)

Slicing:
1. Use series[[a,b,c]] to get three specific values
2. Use series[a:c] to get a range *REMEMBER that the final value is NOT included when slicing*

In [5]:
fiveten = series_custom[5:11]
fiveten

The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

In [6]:
sorted_series = series_custom.reindex(sorted(series_custom.index))

sorted_by_title = series_custom.sort_index()
sorted_by_score = series_custom.sort_values()

## Subsetting Example

In [18]:
sorted_series[sorted_series < 75]

5 Flights Up (2015)                                                       52
A Little Chaos (2015)                                                     40
Aloha (2015)                                                              19
American Sniper (2015)                                                    72
American Ultra (2015)                                                     46
Annie (2014)                                                              27
Avengers: Age of Ultron (2015)                                            74
Big Eyes (2014)                                                           72
Black or White (2015)                                                     39
Blackhat (2015)                                                           34
Cake (2015)                                                               49
Chappie (2015)                                                            30
Child 44 (2015)                                                           26
Dark Places (2015)                                                        26
Do You Believe? (2015)                                                    18
Entourage (2015)                                                          32
Escobar: Paradise Lost (2015)                                             52
Fantastic Four (2015)                                                      9
Fifty Shades of Grey (2015)                                               25
Focus (2015)                                                              57
Get Hard (2015)                                                           29
Hitman: Agent 47 (2015)                                                    7
Home (2015)                                                               45
Hot Pursuit (2015)                                                         8
Hot Tub Time Machine 2 (2015)                                             14
Inherent Vice (2014)                                                      73
Insidious: Chapter 3 (2015)                                               59
Into the Woods (2014)                                                     71
Irrational Man (2015)                                                     42
Jupiter Ascending (2015)                                                  26
                                                                          ..
Strange Magic (2015)                                                      17
Taken 3 (2015)                                                             9
Ted 2 (2015)                                                              46
Terminator Genisys (2015)                                                 26
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
The Age of Adaline (2015)                                                 54
The Boy Next Door (2015)                                                  10
The DUFF (2015)                                                           71
The Divergent Series: Insurgent (2015)                                    30
The Gallows (2015)                                                        16
The Gunman (2015)                                                         17
The Hobbit: The Battle of the Five Armies (2014)                          61
The Last Five Years (2015)                                                60
The Lazarus Effect (2015)                                                 14
The Loft (2015)                                                           11
The Longest Ride (2015)                                                   31
The Man From U.N.C.L.E. (2015)                                            68
The Second Best Exotic Marigold Hotel (2015)                              62
The Vatican Tapes (2015)                                                  13
The Water Diviner (2015)                                                  63
The Wedding Ringer (2015)                                                 27
The Woman In Black 2 Angel of Death (2015)                                22
Tomorrowland (2015)                                                       50
True Story (2015)                                                         45
Unbroken (2014)                                                           51
Unfinished Business (2015)                                                11
Unfriended (2015)                                                         60
Vacation (2015)                                                           27
Welcome to Me (2015)                                                      71
Woman in Gold (2015)                                                      52
Length: 85, dtype: int64

In [8]:
%%timeit
sorted_by_score/10

106 µs ± 925 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [9]:
%%timeit
for i in range(len(sorted_by_score)):
    sorted_by_score[i]/10

2.51 ms ± 15.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Using vectorization for math values in Series greatly reduces processing time. In this example above, vectorization speeds the process up by 25x

In [10]:
rt_critics = Series(fandango['RottenTomatoes'].values, index = fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index = fandango['FILM'])

In [11]:
rt_mean = (rt_critics + rt_users)/2

In [12]:
fandango.index

RangeIndex(start=0, stop=146, step=1)

In [13]:
first_last = fandango.iloc[[0,-1]]

In [15]:
fandango_films = fandango.set_index('FILM', drop = False)

print(fandango_films.index)

Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

In [32]:
fandango_films.loc[['Mr. Holmes (2015)','Paddington (2015)']]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Mr. Holmes (2015),Mr. Holmes (2015),87,78,67,7.9,7.4,4.0,4.0,4.35,3.90,...,3.7,4.5,4.0,3.5,4.0,3.5,33,7367,1348,0.0
Paddington (2015),Paddington (2015),98,81,77,8.2,7.2,4.5,4.3,4.90,4.05,...,3.6,5.0,4.0,4.0,4.0,3.5,149,38593,4045,0.2